@model Restaurant_Management_System.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

@using System.Configuration;
@{
    ViewBag.Title = "Log in";
    string _googlesitekey = ConfigurationManager.AppSettings["GoogleSiteKey"];

}

<h2 style="margin-left:70px">Login</h2>



@using (Html.BeginForm())
{
    <fieldset>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <div style="margin-right:30px">
                @ViewBag.Message
            </div>
        }
        
        <table style="margin-left:50px">
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName, new { @class = "", placeholder = "Enter Username", style = "margin-bottom:7px;" })</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password, new { @class = "", placeholder = "Enter password", style = "margin-bottom:7px;" })</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td class="g-recaptcha" style="margin-left: -191px;" data-sitekey=@_googlesitekey></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Not an existing user? please register", "Register")</td>
                <td>@Html.ActionLink("Forget Password", "ForgotPassword")</td>
            </tr>    
            <tr>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}



