@model IEnumerable<Restaurant_Management_System.Menu>
@{
    ViewBag.Title = "Search";
}




<link href="../Content/StyleSheet.css" rel="stylesheet" />
<script type="text/javascript" asp-append-version="true" src="~/lib/kendo-ui/kendo.custom.min.js"></script>


<div style="margin-left:15px;">
    <h2 style="text-align:center">Search</h2>
</div>

<div id="DivGrid">



    @{
        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 3);

        {

            <div style="margin-left:15px"><strong> @ViewBag.SearchParameter</strong> | @grid.TotalRowCount @Html.Label("Record(s) found")</div>
            @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", htmlAttributes: new { id = "DataTable" }, columns:
            grid.Columns(

                        grid.Column("NAME", "Menu Name"),
                        grid.Column("PRICE", "Price"),
                        grid.Column("TYPE", "Type"),
                        grid.Column("Category.CATEGORY_NAME", "Category Name"),
                        grid.Column("", header: "Action", format: @<text>@Html.ActionLink("Edit", "Edit", new { itemid = item.ITEM_ID }) | @Html.ActionLink("Delete", "Delete", new { itemid = item.ITEM_ID })</text>)));
        }
    }

</div>

<div class="col-md-1">
    @Html.ActionLink("Back to List", "Menu", new { }, new { @class = "btn btn-default" })
</div>


